VITE_FIREBASE_API_KEY=AIzaSyAOWF199cIDd1iGeu8IbvAOHMpfNN6stJs
VITE_FIREBASE_AUTH_DOMAIN=fir-c880c.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://fir-c880c-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=fir-c880c
VITE_FIREBASE_STORAGE_BUCKET=fir-c880c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=278977189741
VITE_FIREBASE_APP_ID=1:278977189741:web:29c3a1051e57626e2bec64
VITE_FIREBASE_MEASUREMENT_ID=G-7Q9T4HY36L